@page
@model TaskAppMono.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TaskItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskItem.UserEmail" class="control-label"></label>
                <input asp-for="TaskItem.UserEmail" class="form-control" />
                <span asp-validation-for="TaskItem.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskItem.Description" class="control-label"></label>
                <input asp-for="TaskItem.Description" class="form-control" />
                <span asp-validation-for="TaskItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskItem.Details" class="control-label"></label>
                <input asp-for="TaskItem.Details" class="form-control" />
                <span asp-validation-for="TaskItem.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskItem.DueDate" class="control-label"></label>
                <input asp-for="TaskItem.DueDate" class="form-control" />
                <span asp-validation-for="TaskItem.DueDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TaskItem.FrequencyType" class="control-label"></label>
                <select asp-for="TaskItem.FrequencyType" class="form-control" id="frequencyType" onchange="toggleFrequencyType(this)">
                    <option value="Single">Single</option>
                    <option value="Week">Week</option>
                    <option value="Year">Year</option>
                </select>
                <span asp-validation-for="TaskItem.FrequencyType" class="text-danger"></span>
            </div>

            @if (Model.TaskItem.FrequencyType != "Single")
            {
                <div class="form-group">
                    <label asp-for="TaskItem.FrequencyType" class="control-label"></label>
                    <input asp-for="TaskItem.FrequencyType" class="form-control" />
                    <span asp-validation-for="TaskItem.FrequencyType" class="text-danger"></span>
                </div>
            }


            <div class="form-group">
                <label asp-for="TaskItem.FrequencyNumber" class="control-label"></label>
                <select asp-for="TaskItem.FrequencyNumber" class="form-control" id="frequencyNumber" onchange="toggleFrequencyNumber(this)">
                    <option value=0>0</option>
                    <option value=1>1</option>
                </select>
                <span asp-validation-for="TaskItem.FrequencyNumber" class="text-danger"></span>
            </div>

            @if (Model.TaskItem.FrequencyNumber != 0)
            {
                <div class="form-group">
                    <label asp-for="TaskItem.FrequencyNumber" class="control-label"></label>
                    <input asp-for="TaskItem.FrequencyNumber" class="form-control" />
                    <span asp-validation-for="TaskItem.FrequencyNumber" class="text-danger"></span>
                </div>
            }


            <div class="form-group">
                <label asp-for="TaskItem.Sensative" class="control-label"></label>
                <select asp-for="TaskItem.Sensative" class="form-control">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="TaskItem.Sensative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskItem.LastCompleted" class="control-label"></label>
                <input asp-for="TaskItem.LastCompleted" class="form-control" />
                <span asp-validation-for="TaskItem.LastCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
